.formContainer-password{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #ffffff;
}

.wrapper-pass{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    border-radius: 0.4rem;
    box-shadow:  0px 2px  10px rgb(206, 206, 206);
}

.form-div-pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding:0 2.5rem;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;

}

.formContainer-password h1{
    color: #385a64;
    font-size: 2em;
    padding: 1rem;
    font-weight: 600;
}

.passwordForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .8rem;
}

.formControl-pass{
    padding: 0.8rem 4rem;
    border-radius: .4rem;
    border: 1px solid black;
    text-align: center;
}

.buttonpass{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 1rem;
    padding: 0;

}


.pass,.back-pass{
    
    padding: 0.8rem 1.6rem;
    color: white;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.buttonpass .pass{
    
    color: white;
    background-color:#d268cc ;
}

.buttonpass .back-pass{
    border: 2px solid #c523bd;
    color: #c523bd;
    text-decoration: none;
}


.buttonpass .sign:hover{
    
    background-color:#c523bd;
}
.buttonpass .back-pass:hover{
    
    border: 2px solid #c523bd;
    color: #c523bd;
    background-color:#f9e3f8;
}

.passwordHolder{
    padding: 1rem;
    background-color: #f7d8f5;
    border: 1px double #e6a7e2;
    border-radius: 6px;
}

.passwordHolder h5{
    color: rgb(146, 24, 24);
}
