.formContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #f1beee;
}

.nav-bar{
    width: 12%;
    min-width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4rem;
    padding: 1.2rem;
    box-shadow:  0px 0px  1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.nav-bar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    border-radius: 0.4rem;
    padding: 0 2.6rem;
    height: 80px;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    color: #808080;
   
    
  }
  
  .nav-bar h6{font-weight:600 ;font-size: 0.8em;}
  
  .nav-bar a:hover{
    background-color: #f9d1f7;
    
  }



.wrapper-login{
    width: 80%;
    height: 100%;
    display: flex;
    border-radius: 0.4rem;
    /* box-shadow:  3px 2px  10px rgb(0, 0, 0); */
}

.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    padding: 2.5rem;
    background-color: white;
}

.heading-div p{
   font-size: 1em;
    color: rgb(72, 72, 72);
    display: none;
}

.heading-div h1{

 color: #385a64;
 font-size: 2.5em;
 font-weight: 600;
 margin-bottom: 2rem;
}

.heading-div hr{
    width: 94%;
    background-color: #000000;
    border: none;
    height: 2px;
    margin-top: -.2rem;
   }

.heading-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .8rem;
}

.form-control{
    padding: 0.8rem 4rem;
    border-radius: 0.4rem;
    border: 1px solid gray;
}

.form-errorEmail, .form-errorPassword{
    padding: 0.8rem 4rem;
    border-radius: 0.4rem;
    border: 1px solid #e40e32;
    color: #e40e32;
    background-color:#fdeef0
}

.buttonLogin{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: space-between;
    padding: 0;
}

.buttonLogin .forgot-pass{
    width: fit-content;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0.1rem;
}

.login-2 ,.back-login{
    
    padding: 0.8rem 1.6rem;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.buttonLogin .login-2{
    color: white;
    background-color:#d268cc ;
}

.buttonLogin .back-login{
    border: 2px solid #c523bd;
    color: #c523bd;
    text-decoration: none;
}


.buttonLogin .login-2:hover{
    
    background-color:#c523bd;
}
.buttonLogin .back-login:hover{
    border: 2px solid #c523bd;
    color: #c523bd;
    background-color:#f9e3f8;
}

.login-hero{
    width: 50%;
    height: 100%;
    background-color: #d268cc;
    background-image: url('../assets/login-removebg-preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.login-hero p{ 
    position: relative;
    width: 50%;
    left: 25%;
    top: 5%;
    font-size: 1.2em;
    text-align: center;
   color: white;
}