.resultcontainer{
    width: 100%;
    height: 100vh;
    padding: 1.5rem 3rem;
    background: linear-gradient(0deg, rgb(255, 255, 255) 50%, #fd42f4be 50%, #fd42f4be 100%);
}

.content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    width: 12%;
    min-width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4rem;
    padding: 1.2rem;
    box-shadow:  0px 0px  1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    width: 70%;
    min-height: 80px;
    height: 100px;
    border-radius: 0.4rem;
    background-color: #fd42f4eb;

}

.logo img{

  width: 50px;
  height: 50px;
}

.logo p{

    font-weight: 600;
    color: white;
}


.nav-bar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    border-radius: 0.4rem;
    padding: 0 2.6rem;
    height: 80px;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    color: #808080;
   
    
  }
  
  .nav-bar h6{font-weight:600 ;font-size: 0.8em;}
  
  .nav-bar a:hover{
    background-color: #f9d1f7;
    
  }

.overview img{

    width: 50px;
    height: 40px;

}



.profile img{
    width: 30px;
    height: 30px;
}

.home img{
    width: 30px;
    height: 30px;
}

.v-station img{
    width: 30px;
    height: 30px;
}

.logout img{
    width: 30px;
    height: 30px;
}


.profile{
    display: flex;
    

} 


/* .home{

    background-position: center;
    background-repeat: no-repeat;
    background-size: 30% 30%;
}
 .v-station{
  
    background-position: center;
    background-repeat: no-repeat;
    background-size:35% 35%;
 } 
 .logout{
 
    background-position: center;
    background-repeat: no-repeat;
    background-size:35% 35%;
 } */

.img{

    margin-top: 56%;
    font-weight: 600;
    color: #808080;
    text-decoration: none;
}

.result-wrapper{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.total-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.total-voters{
    width: 200px;
    padding: 0.4rem;
    border-radius: 0.4rem;
    background-color: white;
    box-shadow:  0px 0px  4px rgb(0, 0, 0);
}

.user-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.8rem;
    border-radius: 0.4rem;
    background-color: white;
    box-shadow:  0px 0px  4px rgb(40, 40, 40);
}

.user-info{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.user-image{
   
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url('../assets/homee-removebg-preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.userdetails{
    text-align: start;
    padding: 0 1.5rem;
}

.profile-button{
    padding: 0.8rem 5rem;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize;
    border: none;
    border-radius: .4rem;
    border: 2px solid #c523bd;
    color: #c523bd;
    text-decoration: none;
}

.profile-button:hover{
    background-color: #f9d1f7;
}


.cards-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* for(int i=1;i<=10;i++){
    System.out.printf("%d x %d = %d\n",N,i,N*i);
} */
.card-results{
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0px 0px 4px #3f3f3f;
    transition: all 200ms ease-in-out;
  }

  .card-results h4{
    margin-top: -5rem;
    font-weight: 400;
        font-size: 1.2em;
  }

  .card-results h3{
    margin-top: -6rem;
    font-size: 1.4em;
}

  .card-image{
    width: 70%;
    height: 50%;
    background-color: #000000;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    box-shadow: 0px 0px 2px #000000;
}

.status-results{
    padding-bottom: 1rem;
}

.pagingButtonResult{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 0 0.5rem 0;
}
.pagingButtonResult button{
    width: 40px;
    height: 40px;
    padding: 0.8rem;
    background-color: #fd42f4be;
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
    border: none;
}
.leftResult{

    background-image: url('../assets/icons8-arrow-left-100.png');  
}

.rightResult{

    background-image: url('../assets/icons8-arrow-right-100.png');
}

.pagingButtonResult p{
    
    width: 100px;
    margin: 0;  
    }