*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-table{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    padding: 1rem 0;
}