.profile-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    
}

.nav-bar{
    width: 12%;
    min-width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4rem;
    padding: 1.2rem;
    box-shadow:  0px 0px  4px rgb(31, 31, 31);
    background-color: rgb(255, 255, 255);
}


.nav-bar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    border-radius: 0.4rem;
    padding: 0 2.6rem;
    height: 80px;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    color: #808080;
   
    
  }
  
  .nav-bar h6{font-weight:600 ;font-size: 0.8em;}
  
  .nav-bar a:hover{
    background-color: #f9d1f7;
    
  }

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    width: 70%;
    min-height: 80px;
    height: 100px;
    border-radius: 0.4rem;
    background-color: #fd42f4eb;

}

.logo img{

  width: 50px;
  height: 50px;
}

.logo p{

    font-weight: 600;
    color: white;
}

.profile, .home, .v-station, .logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    border-radius: 1rem;
    height: 80px;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    color: #808080;
    
}
.formContainer h6{
    /* color: ; */
}

.profile:hover, .home:hover, .v-station:hover, .logout:hover{
    background-color: #f9d1f7;
    
}

.profile img{
    width: 30px;
    height: 30px;
}

.home img{
    width: 30px;
    height: 30px;
}

.v-station img{
    width: 30px;
    height: 30px;
}

.logout img{
    width: 30px;
    height: 30px;
}


.profile{
    display: flex;
    

} 

.voter-details{
    width: 70%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #f9d1f7;
    border-radius: 0.4rem;
    box-shadow:  0px 0px  4px rgb(33, 33, 33);
}

.details{
    /* position:absolute; */
    /* left: 55%; */
}

.name-surname{
    padding-bottom: 3rem;
}

.p-image{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* background-color: #fbc9f9; */
}

.overview img{
    width: 30px;
    height: 30px;
}

.home img{
    width: 30px;
    height: 30px;
}

.p-image img{
    width: 180px;
    height: 180px;
}

.profile-action{
   width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.edit-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 0.2rem;
}

.f-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.profileForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


.edit-bth {
    
    padding: 2rem 1.6rem;
    color: white;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.upload{

    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #b7b6b6;
    background-color: #b7b6b6;
    font-weight: 600;
}
.save-profile{
    width: 45%;
    padding: 0.5rem;
    border-radius:0.4rem;
    border: 1px solid #fd42f4eb;
    background-color: #fd42f4eb;
    color: white;
}

.cancel-edit{
    width: 45%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #d268cc;
    color: white;
    background-color:#f93d4c ;
}

.edit-btn{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #fd42f4eb;
    background-color: #fd42f4eb;
    color: white;
    font-weight: 600;
}

.upload:hover{
    background-color: #aaaaaa;
}

.save-profile:hover{
    border: 1px solid #fc13f0eb;
    background-color: #fc13f0eb;
}

.cancel-edit:hover{

    background-color:#f92133 ;
}

.edit-btn:hover{

    border: 1px solid #fc13f0eb;
    background-color: #fc13f0eb;
}

.buttonSignup .back-signup{
    border: 2px solid #c523bd;
    color: #c523bd;
    text-decoration: none;
}


.buttonSignup .sign:hover{
    
    background-color:#c523bd;
}
.buttonSignup .back-signup:hover{
    
    border: 2px solid #c523bd;
    color: #c523bd;
    background-color:#f9e3f8;
}

.user-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 1rem;
    padding: 1rem;
   
}

.user-details h6{
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
}

.user-details span{
 font-style: italic;
}